.welcome-page-main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: lightgrey;
  background: linear-gradient(to bottom right, lightgrey, lightslategray);
  height: 100%;
  width: 100%;
}

.welcome-page-form-header {
  display: flex;
  justify-content: center;  
  font-size: 20px;  
}

.welcome-page-content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #3b3b38;
  background: #fff;  
  height: 60%;
  width: 40%;
}

.welcome-page-main-container * {
  padding: 10px;
}

.welcome-page-input-container {
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

.welcome-page-input--password {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.welcome-page-input--password input {
  padding: 0px;
}

input[type='text']:focus {
  outline:0;
}

.welcome-page-input--password input {
  padding: 0px;
}

.welcome-page-input--email {
  display: flex;
  justify-content: space-between;  
  flex-direction: row;  
}

.welcome-page-input--email input {
  padding: 0px;
}

.welcome-page-input--submit {
  display: flex;
  justify-content: center;
}

.welcome-page-input--submit input[type='button'] {
  width: 100%;
  background-color: #6699cc;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;  
  transition: 0.25s ease;
}

.welcome-page-input--submit input[type='button']:hover {
  background-color: #5381a8;
}

.welcome-page-input--submit input[type='button']:focus {
  outline:0;
  background-color: #5381a8;  
}