.editor-main-container {
  display: flex;
  width: 100%;
  height: 100%;
}

.editor-back-button {
  padding-bottom: 25px;
  padding-top: 10px;
  padding-left: 10px;
}

.editor-content-container {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  
}

.editor-header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.editor-side-inputs-container {
  display: flex;
  padding: 5px;
}

.editor-card-type-input {
  display: flex;
  flex-direction: column;
}

.editor-main-complexity-container {
  padding-top: 10px;
  display: flex;
  justify-content: flex-end;
  align-content: flex-end;
}
.editor-card-complexity-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  
}

.editor-card-complexity-item {
  border: 1px solid black;
  background: white;
  margin: 3px;  
  min-height: 15px;
  min-width: 15px;
  border-radius: 50%;  
  /* flex-grow: 1;   */
}

.editor-card-complexity-item--selected {
  border: 1px solid black;
  background: gold;
  margin: 3px;
  min-height: 15px;
  min-width: 15px;
  border-radius: 50%;
  /* flex-grow: 1;   */
}

.editor-title-number-container {
  display: flex;
  flex-direction: column;
  padding: 5px;  
}

.editor-update-button-number-container {
  display: flex;
  flex-direction: row;
  font-size: 24px;
  font-weight: bold;
  justify-content: center;
  align-items: center;
}

.editor-update-button {
  padding-right: 30px;
  font-size: 24px;
  display: flex;
}

input[type='button']
{
  font-size: 32px;    
}

.editor-card-summary-container {
  border-top: 1px solid lightgray;
  padding: 10px;
}

.draft-editor-controls {
  font-family: 'Helvetica', sans-serif;
  font-size: 14px;
  margin-bottom: 5px;
  user-select: none;
}

.draft-editor--root {
  background: #fff;
  border: 1px solid #ddd;
  font-family: 'Georgia', serif;
  font-size: 14px;
}

.draft-editor--editor {
  border-top: 1px solid #ddd;
  cursor: text;
  font-size: 16px;
  margin-top: 10px;
}

.draft-editor--editor .public-DraftEditor-content {
  min-height: 100px;
}

.draft-editor--hidePlaceholder .public-draft-editor-placeholder-root {
  display: none;
}

.draft-editor--editor .draft-editor--blockquote {
  border-left: 5px solid #eee;
  color: #666;
  font-family: 'Hoefler Text', 'Georgia', serif;
  font-style: italic;
  margin: 16px 0;
  padding: 10px 20px;
}

.draft-editor--editor .public-DraftStyleDefault-pre {
  background-color: rgba(0, 0, 0, 0.05);
  font-family: 'Inconsolata', 'Menlo', 'Consolas', monospace;
  font-size: 16px;
  padding: 20px;
}