
* {
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
}

input[type="text"]
{
    font-size:20px;
}

body {
  padding: 0px;
  margin: 0px;
  width: 100vw;
  height: 100vh;
}

.project-editor-top-container {
  display: flex;
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
}

.content-container {
  width: 100%;
  height: 100%;
}

.header {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.35);
  background: #fff;  
  z-index: 1;  
}

.header-container {
  padding-bottom: 4px;
  background: lightgrey;
}

.main-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: lightgrey;
  background: linear-gradient(to bottom right, lightgrey, lightslategray);
}

.header {
  text-align: center;
  display: flex;
  font-size: 22px;
}

.back-button {
  padding: 5px;  
  flex-basis: 0%;
}

.title {
  flex-basis: 100%;
  padding: 5px;
}

.edit-lane {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 22px;
}

.project-editor-remove-lane-container {
  display: flex;
  justify-content: flex-end;
}

.project-content {
  display: flex;
  padding: 30px;
  background: #fff;
  border: 1px solid black;
}

.project-controls {
  display: flex;
  flex-direction: column;
  flex-basis: 45%;
  border: 1px solid black;
  align-items: center;
  justify-content: space-between;
}

.project-title {
  padding: 75px;
  border: 1px solid black;
}

.add-lane-container {
  padding: 55px;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}
.add-lane-container label {
  padding: 25px;
}

.go-to-project {
  margin: 0px;
  display: flex;
  flex-direction: column;
  width: 80%;
}


button {
  padding: 5px;
  font-size: 14px;
}

.project-editor-lanes-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  flex-basis: 55%;
  flex-grow: 1;
  border: 1px solid black;
  align-items: center;
}

.project-lanes-container-header {
  text-align: center;
  font-size: 24px;
}

.project-editor-lane-container {
  background: lightblue;
  max-height: 100px;
  padding: 10px;
  border-radius: 15%;
  width: 70%;
  margin: 10px;
  box-shadow: 0 0 5px black;
}

.remove-lane {
  font-size: 14px;
  min-height: 25px;
  min-width: 25px;
  margin-bottom: 5px;
  border: 1px solid white;
  background: salmon;
  color: white;
  display: flex;
  width: 5%;
  align-items: center;
  justify-content: center;
}

.remove-lane:hover {
  background-color: red;
  cursor: pointer;
}

.project-lane-title {
  padding: 1px;
}

.project-controls button {
  width: 100%;
  background-color: #6699cc;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;  
  transition: 0.25s ease;
}

.project-controls button:hover {
  background-color: #5381a8;
}

.project-controls button:focus {
  outline:0;
  background-color: #5381a8;  
}