.app {
  width: 100vw;
  height: 100vh;
}

.app-header {
  background-color: lightgreen;
  text-align: center;
  font-size: 22px;
  height: 28px;
  padding: 10px;
  color: black;
}

.app-main-container {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
}
