.card-container--userStory {
  display: flex;
  flex-direction: column;
  background: rgb(252, 246, 195);
  border: 1px solid darkgoldenrod;
  box-shadow: 0 0 5px grey;
  padding: 5px;
}

.card-container--userStory:hover {
  cursor: pointer;
}

.card-container--placeholder {
  visibility: none;
  color: transparent;
}

.card-container--bug {
  display: flex;
  flex-direction: column;
  background: #f8d9d9;
  border: 1px solid rgb(231, 96, 72);
  box-shadow: 0 0 5px grey;  
  padding: 5px;
}

.card-container--bug:hover {
  cursor: pointer;
}

.card-top-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card-complexity-container {
  display: flex;
  flex-direction: row;
  padding-bottom: 0px;
}

.card-complexity-item {
  background: transparent;
  margin: 1px;  
  min-height: 5px;
  max-height: 5px;
  min-width: 5px;
  max-width: 5px;
  border-radius: 50%;  
}

.card-complexity-item--selected {
  border: 1px solid black;
  background: gold;
  margin: 1px;
  min-height: 5px;
  max-height: 5px;
  min-width: 5px;
  max-width: 5px;
  border-radius: 50%;
}

.card-title-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card-number {
  font-weight: bold;  
}

.card-assignee {
  display: flex;
  padding-top: 5px;
  justify-content: flex-end;
}