.board-main-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
}

.board-lanes-container {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  width: 100%;
}

.lane-wrapper-container {
  display: flex;
  flex-grow: 1;
  border-right: 1px solid black;
}

.board-controls-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
}