.editor-main-container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background: lightgrey;
  background: linear-gradient(to bottom right, lightgrey, lightslategray);
}

.editor-nav-button {
  padding: 10px;
}

.editor-content-container {
  display: flex;
  width: 90%;
  height: 90%;
  flex-direction: column;
  border: 1px solid black;
  background: beige;
}

.editor-content-top-data-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.editor-navigation-container {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.editor-header-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.editor-side-inputs-container {
  display: flex;
  padding: 25px;
  flex-grow: 1;
}

.editor-title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-grow: 1;
  justify-content: center;
  
}

.editor-card-remove-card-button-container {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
}

.editor-card-remove-card-button {
  padding: 25px;
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: flex-end;
}

.editor-card-remove-card-button button {
  background: #ffb2b2;
}

.editor-card-remove-card-button button:hover {
  color: #fff;
  background: red;
  font-weight: bold;
  cursor: pointer;
}

.editor-card-remove-card-button button:focus {
  outline: none;  
}

.editor-card-type-input {
  display: flex;
  flex-direction: column;
}

.editor-main-complexity-container {
  padding-top: 10px;
  display: flex;
  justify-content: flex-end;
  align-content: flex-end;
}
.editor-card-complexity-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-top: 25px;
  
}

.editor-card-complexity-item {
  border: 1px solid black;
  background: white;
  margin: 3px;  
  min-height: 15px;
  min-width: 15px;
  border-radius: 50%;  
}

.editor-card-complexity-item--selected {
  border: 1px solid black;
  background: gold;
  margin: 3px;
  min-height: 15px;
  min-width: 15px;
  border-radius: 50%;
}

.editor-title-number-container {
  display: flex;
  flex-direction: column;
  padding: 25px;  
}

.editor-card-number-container {
  display: flex;
  flex-direction: column;
  font-size: 24px;
  font-weight: bold;
  width: 100%;
  text-align: right;
  padding-top: 10px;
  padding-right: 15px;
}

input[type='button']
{
  font-size: 32px;    
}

.editor-card-summary-container {
  border-top: 1px solid lightgray;
  padding: 50px;
  flex-direction: column;
  display: flex;
  width: 100%;
  flex-grow: 1;
  flex-basis: 80%;  
}

.editor-card-text-controls-container {
  padding-top: 15px; 
  padding-bottom: 5px;
  display: flex;
  flex-direction: column;
}

.editor-card-draft-editor-container {
  display: flex;
  flex-grow: 1;
  background: white;
  border: 1px solid lightgray;  
  margin: 5px;
  flex-grow: 1;
}

/* basic CSS class for the Draft Editor itself */
.draft-editor-item {
  background: white;  
}

.editor-card-attachments-container {
  border-top: 1px solid lightgrey;
  padding: 50px;
  flex-basis: 20%;
  flex-grow: 1;  
}

.editor-card-summary-header {
  display: flex;
  width: 100%;
  flex-direction: row;
}

.editor-card-summary-container-title-text {
  flex-basis: 95%;
  flex-grow: 1
}

.draft-editor-controls {
  font-family: 'Helvetica', sans-serif;
  font-size: 14px;
  margin-bottom: 5px;
  user-select: none;
}

.draft-editor--root {
  background: #fff;
  border: 1px solid #ddd;
  font-family: 'Georgia', serif;
  font-size: 14px;
}

.draft-editor--editor {
  border-top: 1px solid #ddd;
  cursor: text;
  font-size: 16px;
  margin-top: 10px;
}

.draft-editor--editor .public-DraftEditor-content {
  min-height: 100px;
}

.draft-editor--hidePlaceholder .public-draft-editor-placeholder-root {
  display: none;
}

.draft-editor--editor .draft-editor--blockquote {
  border-left: 5px solid #eee;
  color: #666;
  font-family: 'Hoefler Text', 'Georgia', serif;
  font-style: italic;
  margin: 16px 0;
  padding: 10px 20px;
}

.draft-editor--editor .public-DraftStyleDefault-pre {
  background-color: rgba(0, 0, 0, 0.05);
  font-family: 'Inconsolata', 'Menlo', 'Consolas', monospace;
  font-size: 16px;
  padding: 20px;
}